 {% extends '::base.html.twig' %}

 {% block body %}
 <ul> 
    {% for item in people %}
                <li><a href="{{ item.id }}">{{ item.name }}</a></li>
     {% endfor %}
     </ul>
 {% endblock %}