 {% extends '::base.html.twig' %}

 {% block body %}

<div class="header_categoryrecipe">Catégorie : {{ categoryrecipe.name }}
</div>
 une catégorie de  {{ categoryrecipe.people.name }}
 {% endblock %}