
<div class="header_cookbook">
<div id="logo_cookbook"><a href="{{ path('cookbook') }}">My cookbook</a></div>
<div class="user_cookbook"><a href="{{ path('people_show', { 'id': user.id }) }}">{{ user.name }}</a></div>

</div>