
<div class="header_cookbook">
<div class="logo_cookbook"><a href="{{ path('cookbook') }}">My cookbook</a></div>
<div class="user_cookbook"><a href="{{ path('logout') }}">logout</a>{{ user.name }}</div>

</div>