
<div class="header_cookbook">
<div id="logo_cookbook"><img src="{{ asset('bundles/cookbookcore/images/logo.png') }}" /></div>
<div id="menu">
    <div class="sousMenu">
RECETTES
    </div>
<div class="sousMenu">
EVENEMENTS
    </div>
<div class="sousMenu">
INVITES
    </div>
</div>
<div class="user_cookbook"><a href="{{ path('people_show', { 'id': user.id }) }}">{{ user.name }}</a></div>

</div>