 {% extends '::base.html.twig' %}

 {% block body %}

{% include 'CookbookCoreBundle:Default:header.html.twig' %}

<div id="home">
<div id="home_left">
<div id="home_mess">
<p>Juste des repas de tous les jours, un dîner en amoureux ou un dîner entre amis : un outil pour répertorier toutes nos recettes, tous nos talents et réussites culinaires plus ou moins simples qu'on avait peut être un peu oublié...</p>
</div>
<div class="step">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/spoon.png') }}" />
</div>
<div class="stepDesc">
<h2>Ajouter une recette</h2>
<p>Créer votre propre livre de recette</p>
</div>

</div>
<div class="step">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/friend.png') }}" />
</div>
<div class="stepDesc">
<h2>Ajouter un invité</h2>
<p>Vous pourrez ainsi retrouver facilement ce qu'ils aiment et quoi leur faire à manger</p>
</div>
</div>
<div class="step">
<div class="stepImg">
<img src="{{ asset('bundles/cookbookcore/images/event.png') }}" />
</div>
<div class="stepDesc">
<h2>Ajouter un événement</h2>
<p>Créer votre propre livre de recette</p>
</div>
</div>
</div>
<div id="find">

</div>


</div>
 
 

  {% endblock %}