/* 
    Document   : cookbook.css
    Created on : Aug 6, 2012, 10:47:47 PM
    Author     : edumonti
    Description:
        Purpose of the stylesheet follows.
*/
body {
font-size: 11px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 1.28;
text-align: left;
direction: ltr;
margin: 0;
padding: 0;
}
a{
    color:#1db8fe;
    
    text-decoration:none;
    
}
div{
    
    display: block;
}

h1{
    padding-left: 5px;
    
}
.lfloat{
    float:left;
}

.rfloat{
    float:right;
}

.hand{
    cursor: pointer;
    
    
}

.header_cookbook { 
    background-color : #000;
    display: block;
    height: 30px;
}

#logo_cookbook a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
	border:0;
	margin : 0;
	padding : 0;
    
}

#logo_cookbook { 
    float:left;
    
        padding-top: 2px;
        padding-left: 2px;
}

.user_cookbook { 
    float: right;
    padding-top: 5px;
    padding-right: 2px;
    font-size: 13px;
}

.user_cookbook a { 
    color: #fff;
    text-decoration:none;
}

.recipes{ 
    background-color : #FAF7F7;
    display: block;
    width:20%;
    float:left;
    height:100%;
}


.friends{ 
    background-color : #FAF7F7;
    display: block;
    width:20%;
    float:left;
}

.events{ 
    background-color : #fff;
    display: block;
    width:60%;
    float:left;
}

.libFiltre{
    width:100px;
    display: inline-block;
}

.lienAdd{
    float:right;
    margin-top: -26px;
    padding-right: 10px;
}


ul#listFriends {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:95%;clear:both;}
ul#listFriends li {margin:0;padding:0;list-style:none;margin:0 0 0 0;}
ul#listFriends li a {font-weight:bold;text-decoration:none;display:block;padding:0.3em;
      border-bottom:0.4em solid #cfcfcf;color:black;background:#FAF7F7;}
ul#listFriends li a:hover {border-bottom:0.4em solid #000;background-color:#fff;}

ul#listEvents {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:98%;clear:both;}
ul#listEvents li {
        margin:0;padding:2px;list-style:none;margin:5px 0 10px 5px; width:100%;
        min-height: 30px;
        background-color: #fff;
        clear: both;
 }
 
.event_recipes {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:95%;clear:both;}
.event_recipes_li {
        margin:0;padding:2px;list-style:none;border:0;min-height: 0;margin:5px 0 0 5px; width:100%;
        background-color: #fff;
        clear: both;
 }
 
 .event{
     margin-left: 60px;
 }
 .event_date{
     padding-top: 8px;
 }
 .event_header{
     font-size: 13px;
     border:1px solid #ccc;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom: 0;
     padding: 6px 16px 0 16px;
 }
 .event_content{
     overflow: auto;
     border: 1px solid #ccc;
     border-bottom: 0;
     border-top: 0;
     padding: 3px 16px 3px;
 }
 
 
 .event_footer{
     clear: both;
     border: 1px solid #ccc;
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     padding: 3px 16px 0;
     background-color: #eee;
 }
 
 
 #ingredients{ 
    background-color : #FAF7F7;
    display: block;
    width:20%;
    float:left;
    height:100%;
}


ul#ingredients_list {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:95%;clear:both;}
ul#ingredients_list li {margin:0;padding:0;list-style:none;margin:0 0 0 0;border-bottom:0.4em solid #cfcfcf;background:#FAF7F7;}
ul#ingredients_list li a {font-weight:bold;text-decoration:none;display:inline-block;padding:0.3em;color:black;
      }
ul#ingredients_list li:hover {border-bottom:0.4em solid #000;background-color:#fff;}


 #wines{ 
    background-color : #FAF7F7;
    display: block;
    width:20%;
    float:left;
    height:100%;
}
 
 