/* 
    Document   : cookbook.css
    Created on : Aug 6, 2012, 10:47:47 PM
    Author     : edumonti
    Description:
        Purpose of the stylesheet follows.
*/
body {
font-size: 11px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 1.28;
text-align: left;
direction: ltr;
margin: 0;
padding: 0;
background-color : #fff;
width: 80%;
margin-left: 10%;
margin-right: 10%;
}
a{
    /*color:#772126;*/
    color: #0082E4;;
    text-decoration:none;
    
}
div{
    
    display: block;
}

h1{
    padding-left: 5px;
    
}

input[type=text]{
    border: 1px solid #3DBEF5;
}

input[type=password]{
    border: 1px solid #3DBEF5;
}

textarea{
    border: 1px solid #3DBEF5;
}


.lfloat{
    float:left;
}

.rfloat{
    float:right;
}

.hand{
    cursor: pointer;
}

.inline{
    display: inline-block;
    
}

.opacity20{
    opacity: 0.2;
}

.header_cookbook { 
    position: relative;
    background-color : #fff;
    display: block;
    height: 50px;
    z-index: 1000;
    overflow: hidden;
}

.login_cookbook { 
    position: relative;
    background-color : #fff;
    width: 33%;
    display: block;
    text-align: right;
    margin: 50px;
    border-radius: 10px;
    border: 5px solid #3DBEF5;
    
}

.login_cookbook div{ 
    padding-right: 15px;
    padding: 5px;
}

#menu{
    float: left;
    padding-top: 2px;
    margin-left: 50px;  
    height: 50px;
}

#logoHeaderRecipe{
    background: transparent scroll no-repeat  url('../images/mycookbook.png');
    background-position: -32px -335px; 
    height: 50px;
    width: 200px;
    margin-left: 38%;
}

#menuEvent2{
    background: transparent fixed no-repeat  url('../images/mycookbook.png');
    background-position: 213px -335px;  
}

#menuFriend2{
    background: transparent fixed no-repeat  url('../images/mycookbook.png');
    background-position: 44px -335px;  
}

.sousMenu{
    float: left;
    display: inline-block;
    width: 200px;
    border:0;
    margin : 0;
    padding-top : 20px;
    text-align: center;
    font-family: "Georgia",Times, "Time New Roman", serif; 
    font-size: 15px;
    cursor: pointer;
    height: 30px;
    vertical-align: middle;
}


#logo_cookbook a{
    
    text-decoration:none;
	border:0;
	margin : 0;
	padding : 0;
        font-size: 0;
    
}

#logo_cookbook { 
    float:left;
    
        padding-top: 2px;
        padding-left: 2px;
}

#logo_cookbook img{ 
    height: 48px;
}
#home{
    background-color: #fff;
    height:400px;
    margin: 0;
    
    
}
#home_left{
    float: left;
    width: 72%;
}
#home_mess{
    background-color: #fff;
    float: left;
    height:120px;
    margin-top: 5px;
    width: 98%;
    border-radius: 10px;
    border: 5px solid #3DBEF5;
    max-width: 778px;
}

#home_mess p {
    margin: 0px;
    padding: 15px 15px 15px 15px;
    font-family: "Arial Bold","Arial Bold", Gadget, sans-serif; 
    font-size: 15px;
    color: #393939;
    line-height: 1.3em;
    text-align: justify;
}

.step{
    background-color: #bbb;
    float: left;
    height:200px;
    margin-top: 5px;
    margin-right: 4px;
    width: 31.3%;
    border-radius: 10px;
    border: 5px solid #999;
    max-width: 250px;
    
}

.step:hover{
    background-color: #fff;
    border: 5px solid #999;
}

.step .stepImg
{
    margin-top: 6%;
    margin-left: 24%;
    margin-bottom:10%;
    width: 50%;
    height: 50%;
}
.step .stepImg img
{
    padding-left: 1px;
    background-color: #fff;
    width: 85%;
    box-shadow: 2px 2px 2px #666666;
    border: 5px solid #3DBEF5;
    border-radius: 25px;
}

.step:hover .stepImg img
{   
    box-shadow: 0px 0px 0px #fff;
}

.step .stepDesc {
    padding: 5px 0px 15px 15px;
    display: block;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid white;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.step:hover .stepDesc {
    border-top: 1px solid #bbb;
}

.step .stepDesc h2{
margin: 0px;
padding: 0px;
font-size: 15px;
color: #393939;
}

.step .stepDesc p {
margin: 0px;
padding: 0px;
line-height: 1.2em;
}

#find{
    background-color: #999;
    float: left;
    height:335px;
    margin-top: 5px;
    
    border: 5px solid #bbb;
    width: 27%;
    border-radius: 10px;
    
    
}

#find > h2 {
color: #FFFFFF;
padding: 5px;
margin: 2px;
text-align: center;
}

#find .libFiltre{
    color: #fff;
    text-align: right;
    
}

.user_cookbook { 
    float: right;
    padding-top: 5px;
    padding-right: 2px;
    font-size: 13px;
}

.user_cookbook a { 
    color: #000;
    text-decoration:none;
}

#content_header{
     background-color: #fff;
    border-radius: 10px;
    border: 5px solid #3DBEF5;
    
     margin-top: 5px;
     margin-bottom: 5px;
    position: relative;
     text-align: center;
     z-index: 1000;
 }
 
  #content_header h1{
     color: #000;
     margin-top: 2px;
     margin-bottom: 2px;
     font-family: 'Dancing Script', cursive;
     font-size: 30px;
 }

#content_left{
    position: relative;
    display: block;
    width:19.7%;
    margin-left: 0.2%;
    margin-right: 0.1%; 
    float:left;
    height:100%;
}


#content_right{ 
    position: relative;
    display: block;
    width: 19.7%;
    margin-left: 0.1%;
    margin-right: 0.2%; 
    float:left;
}

#content_middle{ 
    position: relative;
    display: block;
    width: 59.8%;
    margin-left: 0.1%;
    margin-right: 0.1%; 
    float:left;
}

.libFiltre{
    width:60px;
    display: inline-block;
}

.lienAdd{
    float:right;
    padding-right: 10px;
}


ul#recipesHome {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:100%;clear:both;height: 210px; overflow: auto;}
ul#recipesHome li {margin:0;padding:0;list-style:none;margin:0 0 0 0;}
ul#recipesHome li a {font-weight:bold;text-decoration:none;display:block;padding:0.3em;
      border-bottom:0.4em solid #999;color:black;background:#ddd;}
ul#recipesHome li a:hover {border-bottom:0.4em solid #3DBEF5;background-color:#fff;}

ul#listEvents {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:98%;clear:both;}
ul#listEvents li {
        margin:0;padding:2px;list-style:none;margin:5px 0 10px 5px; width:100%;
        min-height: 30px;
        background-color: #fff;
        clear: both;
 }
 
.event_recipes {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:95%;clear:both;}
.event_recipes_li {
        margin:0;padding:2px;list-style:none;border:0;min-height: 0;margin:5px 0 0 5px; width:100%;
        background-color: #fff;
        clear: both;
 }
 
 .event{
     margin-left: 60px;
 }
 .event_date{
     padding-top: 8px;
 }
 .event_header{
     font-size: 13px;
     border:1px solid #ccc;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     border-bottom: 0;
     padding: 6px 16px 0 16px;
 }
 .event_content{
     overflow: auto;
     border: 1px solid #ccc;
     border-bottom: 0;
     border-top: 0;
     padding: 3px 16px 3px;
 }
 
 
 .event_footer{
     clear: both;
     border: 1px solid #ccc;
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     padding: 3px 16px 0;
     background-color: #eee;
 }
 
 
ul#listFriends {font-family:helvetica,arial,sans-serif;margin:0;padding:0;width:98%;clear:both;}
ul#listFriends li {
        margin:0;padding:2px;list-style:none;margin:5px 0 10px 5px; width:100%;
        min-height: 30px;
        background-color: #fff;
        clear: both;
 }
 
 
 .friend{
     margin-left: 60px;
 }
 .friend_pic{
     padding-top: 8px;
 }
 .friend_header{
     font-size: 13px;
     border:1px solid #ccc;
     border-radius: 3px;
     padding: 6px 16px 6px 16px;
 }

 .friend_header:hover{
     color: #fff;
     background-color: #3DBEF5;
 }
 
 .friend_header:hover a{
     color: #fff;
 }
 
 
 
#listCategories { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#listCategories li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#listCategories li span:first-of-type { position: absolute; margin-left: -1.3em; }

#listFormats { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#listFormats li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#listFormats li span:first-of-type { position: absolute; margin-left: -1.3em; }

#listTypes { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#listTypes li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#listTypes li span:first-of-type { position: absolute; margin-left: -1.3em; }





#ingredients input[type=text]{ 
   
    width:95%;
    font-size: 13px;
    margin-top: 6px;
}

 h3{ 
   
    margin:0;
}

.div_info{
    clear:both;
}

#picture_recipe{
    float: right;
    width:20%;
    margin: 0.2%;
    padding: 0.1%;
    
}

#content_recipe{
    margin: 0.2%;
    padding: 0.1%;
    border: 2px solid #ccc;
    border-radius: 5px;
    float: right;
    width: 78%;
    min-height: 100px;
}

#upload_iframe{
    width: 450px !important;
}

ul#ingredients_list {font-family:helvetica,arial,sans-serif;
                     margin:0;margin-top: 5px;
                     padding:0;width:98%;clear:both;}
ul#ingredients_list li {margin:0;padding:0;list-style:none;margin:0 0 0 0;border-bottom:0.4em solid #cfcfcf;background:#fff;}
ul#ingredients_list li a {font-weight: bold;text-decoration:none;display:inline-block;padding:0.3em;color:black;
      }
ul#ingredients_list li span {color:black;
                             padding-right: 5px;padding:0.3em;
      }
ul#ingredients_list li:hover {border-bottom:0.4em solid #772126;background-color:#fff;}


 
 